<%- host = ENV["host"]%>
<p>
	<%= "Hey #{@user.firstname},"%>
</p>

<p>
	<%= "#{@group_creator.firstname} just created a new YesAndApp group."%>
	<br>
	<%= "Group Title: #{@group.title}"%>
	<br>
	<%= "Group Password: #{@group.enter_code}" %>
	<br>
	<%= link_to "Check out your new group.", new_user_group_url+"?gid=#{@group.id}&token=#{@token}"%>
</p>

<p>
	- Cheers,
	<br>
	YesAndApp
</p>

<!-- #{host}/sentences/ -->