<%= form_for @sentence do |f| %>
  <% if @sentence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sentence.errors.count, "error") %> prohibited this sentence from being saved:</h2>

      <ul>
      <% @sentence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.hidden_field :group_id, :value => @group_id %>
  <div class="field">
    <%= f.text_area :content, :id=>"new_sentence_content", :maxlength=> "#{Sentence::CHARS_PER_SENTENCE}" %>
  </div>
  
  <div align="right" class="actions" style="margin-right: 60px;">
    <span align="left" id="display_count", style='font-size:14px;color:#8899a6;'></span> <%= f.submit 'Submit', :class=>"ui green tiny button" %>
  </div>
<% end %>
