<%- @group = Group.find(@group_id) %>
<%- @last_sentence = @group.sentences.last %>
<%- @current_user = current_user %>
<%- @chance_user = @group.users_order[0] %>
<%- @sentences_count = @group.sentences.count %>

<div class="ui raised segment", style= "margin: 2% 20% 2% 20%">
	<%- if @last_sentence.try(:content).present?%>
	<div class="ui ribbon label blue">
		Last Submission
	</div>
	<% if @group.deactivate_group?%>
		<h4 class="ui black block header"> <%= link_to 'See the final result', "/groups/result?gid=#{@group.id}", :class => "ui black" %> </h4>
	<% else %>
		<p><h4 class="ui black block header"> <%= @last_sentence.try(:content) %> </h4></p>
	<% end %>
	<% end %>
	<% unless @group.deactivate_group?%>
	<% if @current_user.groups.map(&:id).include?(@group.id)%>
	<% if @chance_user.id == @current_user.id%>
	<div class="ui ribbon label green">
		Its your turn!
	</div>
	<center style="margin: 2%">
		<%= render 'form' %>
	</center>
	<% else %>
	<div class="ui teal ribbon label">
		Next Up
	</div>
	<h4 class="ui black block header"> <%= @chance_user.username %> </h4>
	<% end%>
	<% else %>
	<div class="ui ribbon label green">
		Please Enter Passcode and Join!
	</div>
	<center style="margin: 2%">
		<%= render 'user_group_form' %>
	</center>
	<% end  %>

	<% else %>
	<div class="ui ribbon label green">
		Submissions to this group are over :(
	</div>
	<h4 class="ui black block header"> <%= link_to 'Start a new group', new_group_path , :class => "ui black" %> </h4>
	<%end%>
	<div class="ui red ribbon label">
		Stats
	</div>
	<p>
		<h4 class="ui black block header"> <%= @sentences_count %>/<%= @group.submissions_limit %> Submissions </h4>
	</p>
	<div class="ui ribbon blue label">
		Top used words
	</div>
	<%- if @group.submissions_limit > 10 %>
	<p>
		<%- if @sentences_count >= 10%>
		<div class="ui medium labels">
			<%- @group.top_five_words.each do |word|%>
			<div class="ui label">
				<%= word%>
			</div>
			<% end%>
		</div>
		<%- else%>
		<h4 class="ui black block header">Will be unlocked after <%= 10 - @sentences_count%> more submissions!</h4>
		<% end %>
		
	</p>
	<% end %>
	<input type="hidden" id="chars_limit" value=<%= Sentence::CHARS_PER_SENTENCE %>>
</div>
<%= link_to 'Back', root_path, :class => "ui black button", :style => "margin-left: 20%;" %>
