<div class="ui raised segment", style= "margin: 2% 20% 2% 20%">
	<div class="ui ribbon label blue">
		Last Sentence
	</div>
	<h4 class="ui black block header"> <%= @last_sentence.try(:content) %> </h4>
	<% if @chance_user.id == @current_user.id%>
	<div class="ui ribbon label green">
		Its your turn!
	</div>
	<center style="margin: 2%">
		<%= render 'form' %>
	</center>
	<% else %>
	<div class="ui teal ribbon label">
		Next Up
	</div>
	<h4 class="ui black block header"> <%= @chance_user.username %> </h4>
	<% end%>
	<div class="ui red ribbon label">
		Stats
	</div>
	<p>
		<h4 class="ui black block header"> <%= @sentences_count %>/<%= Sentence::LINES_PER_CHAPTER %> Sentences submitted </h4>
	</p>
</div>
<%= link_to 'Back', root_path, :class => "ui black button", :style => "margin-left: 20%;" %>
