<%- @group = Group.new unless @group.present?%>
<div class="ui raised segment", style= "margin: 2% 20% 2% 20%">
<%= form_for @group, :html=> {:style => "margin: 2% 20% 2% 20%"} do |f|%>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
	<%= f.label "Group Title"%>
  <div class="field">
    <%= f.text_field :title, nil, placeholder: 'New YesAndApp Group', :style=>"text-transform: lowercase;" %>
  </div>
  </div>
  <div class="form-group">
	<%= f.label "Group Password"%>
  <div class="field">
    <%= f.text_field :enter_code, nil, placeholder: 'Password123' %>
  </div>
  </div>
  <div class="form-group">
	<%= f.label "Submission Limit (Recommended 25-50)"%>
  <div class="field">
    <%= f.text_field :submissions_limit, nil, placeholder: '25' %>
  </div>
  </div>
  <div class="form-group">
  	<label>Enter Emails to Invite</label>
  <div class="field">
  	<%= text_area_tag  'Jack@Example.com, Jill@Example.com, FluffyPenguin@Hotmail.com' %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
</div>
<center>
	<%= render :partial => '/groups/facebook_invite', :locals => {:group => @group}%>
</center><br/>
