<%- group ||= nil %>
<%- @group = group || Group.new(:submissions_limit => 25)%>
<div class="ui raised segment", style= "margin: 2% 20% 2% 20%">
<%= form_for @group, :html=> {:style => "margin: 2% 20% 2% 20%", :id => "new_group_creation", :class => 'contact_request_submit'} do |f|%>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
	<%= f.label "Group Title"%>
  <div class="field">
    <%= f.text_field :title, :placeholder => 'New YesAndApp Group', :style=>"text-transform: lowercase;" %>
  </div>
  </div>
  <div class="form-group">
	<%= f.label "Group Password"%>
  <div class="field">
    <%= f.text_field :enter_code, :placeholder => 'Password123' %>
  </div>
  </div>
  <div class="form-group">
	<%= f.label "Submission Limit (Recommended 25-50)"%>
  <div class="field">
    <%= f.text_field :submissions_limit, :placeholder => '25' %>
  </div>
  </div>
  <div class="form-group">
  	<label>Emails</label>
  <div class="field">
  	<%= text_area_tag 'emails',nil, placeholder: "Add emails to invite" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
</div>
<script>
	$(".contact_request_submit").submit(function() {
		var replace_id, valuesToSubmit;
		replace_id = $(this).attr("id");
		valuesToSubmit = $(this).serialize();
		$.ajax({
			url : $(this).attr("action"),
			data : valuesToSubmit,
			type : "POST",
			success : function(response) {
				$("#" + replace_id).html(response);
			}
		})
		return false;
	}); 
</script>