<%- colors= ['black', 'orange']%>
<% if user_signed_in? %>
		<div class="ui raised segment">
		<div class="ui inverted blue block header" style="margin-bottom: 10px;">
			<center>Join a new group!</center>
		</div><br/>
		<center><input type="hidden" id="groups_titles" value="<%=groups_titles%>">
		<%- @user_group = UserGroup.new unless @user_group.present?%>
		<%= form_for @user_group do |f| %>
			<%= hidden_field_tag :src, :value => 'groups' %>
			<div class="two fields">
				<div class="field">
				<%= text_field_tag :title, nil, placeholder: 'Group Title', id:'autocomplete', :style=>"text-transform: lowercase;" %></div>
				<div class="field">
				<%= text_field_tag :enter_code, nil, placeholder: 'Group Password',  maxlength: 20 %></div>
			</div>
			<%= f.submit "Join" %>
		<% end %></center>
<div style = "margin:5%">
<%- @current_user.groups.each do |group| %>
	<%- users = group.users_order(@current_user) %>
	<%- group_color = (users.first == @current_user) ? 'green' : 'red' %>
	<% if @current_user.groups.map(&:id).include?(group.id)%>
	<%= link_to "sentences/new?gid=#{group.id}", class:"ui item", style: "text-decoration: none;" do %>
	<div class="ui blue segment", style = "margin-top: 1%">
		<div class="ui ribbon label teal">
			<%= group.title %>
		</div>
		<span class = "ui circular <%= group_color %> label"> </span>
		<%- users.each_with_index do |user, index| %>
		<%- if user != current_user%>
		<span class = "ui <%= colors[index % colors.count] %> label"><%= user.username %></span>
		<% else %>
		<span class = "ui blue label">YOU</span>
		<% end %>
		<% end %>
	</div>
	<% end %>
	<% else %>
		<div class="ui item">
			<div class="ui blue segment", style = "margin-top: 1%">
			<div class="ui ribbon label teal">
				<%= group.title %>
			</div>
			<span class = "ui circular red"><i class="block basic icon large"></i> </span>
			<%- users.each_with_index do |user, index| %>
			<%- if user != current_user%>
			<span class = "ui <%= colors[index % colors.count] %> label"><%= user.username %></span>
			<% end %>
			<% end %>
			<br/><br/>
		</div>
		</div>
	<% end %>
	<% end %>
	    <div class="ui horizontal divider">
	    	Or
	    </div>.
	    <center><h4 class="ui black block header"> <%= link_to 'Start a new group', new_group_path , :class => "ui black" %> </h4></center>
	</div>
</div>

<% end%>

