<div class="ui raised segment", style= "margin: 2% 20% 2% 20%">

	<div class="ui ribbon label blue">
		<%= @group.title %> Result
	</div>
	<h3 class="ui black block header"> <%- @group.sentences.map(&:content).each do |sentence|%>
	<%= sentence%>
	<br>
	<%end%> </h3>
	<div>
		<span>
			<div class="ui small facebook button">
			  	<%= link_to "https://www.facebook.com/dialog/feed?app_id=1535071766724592&display=popup&caption=#{fb_text(@group)}&link=#{request.protocol}#{request.host_with_port}#{result_group_path(@group)}&redirect_uri=#{request.protocol}#{request.host_with_port}#{result_group_path(@group)}", class:"socialbutton" do %>
				  <i class="facebook icon"></i>
				  Share
				<% end %>
  			</div>
		</span>
		<span> 
			<div class="ui small twitter button">
			  	<%= link_to "https://twitter.com/intent/tweet?text=#{twitter_text(@group)} ,Chk it out on #{request.protocol}#{request.host_with_port}#{result_group_path(@group)}", class:"socialbutton" do %>
				  <i class="twitter icon"></i>
				  Share
				<% end %>
  			</div></span>
		<span>
			<div class="ui small google plus button">
				
				<%= link_to "",
				  class:"g-interactivepost socialbutton",
				  :data=> {
				  	:contenturl=>"#{request.protocol}#{request.host_with_port}#{result_group_path(@group)}",
				  	:contentdeeplinkid=>"#{result_group_path(@group)}",
				  	:clientid=>"244780791404-i1r186kncpu7tesl8aa4ofannre1u8p7.apps.googleusercontent.com",
				  	:cookiepolicy=>"single_host_origin",
				  	:prefilltext=>"#{@result}",
				  	:calltoactionlabel=>"GO",
				  	:calltoactionurl=>"#{request.protocol}#{request.host_with_port}#{result_group_path(@group)}",
				  	:calltoactiondeeplinkid=>"#{result_group_path(@group)}"} do %>
				  	<i class="google plus icon"></i>
				  Share
				<% end %>
			</div>
			</span>
	</div>
</div>
<script >
  window.___gcfg = {
    lang: 'en-US',
    parsetags: 'onload'
  };
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
