<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/YesAndApp-Logo-favicon.ico" />
  <title>YesAndApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%- unless notice.blank?%>
	<h4 class="ui inverted teal block header" style= "margin: 0.5%">
		<center> 
		<%= notice %>
		</center> 
    </h4>
    <% end %>
	<p class="alert"><%= alert %></p>
<%= yield %>
<center><a href="mailto:Sil.Demmer@gmail.com"><div class="positive ui button"><i class="mail icon"></i>Feedback</div></a></center>
</body>
</html>
